.button-line{

    display: flex;
    justify-content: space-between;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;

}

.single-button{
    font-size : 1.5rem ;
    color : black ;
    padding : 25px ;
    font-style: oblique;
    margin-left : 10px ;
    margin-right : 10px ;
}